:root {
  --color-black10: #000;
  --color-black09: #222;
  --color-black08: #333;
  --color-black07: #444;
  --color-white: #fff;
  --nav-height: 90px;
}
html,
body {
  height: 100%;
}
body {
  background: var(--color-black10);
  margin: 0;
}
img#result {
  transition: opacity 250ms ease-in-out;
}
body.loading img#result {
  opacity: 0.5;
}
body.loading .loader {
  opacity: 1;
}
.loader {
  display: flex;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: calc((100% - var(--nav-height)) * 0.5);
  transition: opacity 250ms ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
@keyframes loader {
  0% {
    transform: translateY(-0.5rem);
  }
  90%,
  100% {
    transform: translateY(0.5rem);
  }
}
.loader span {
  animation: loader 500ms ease-in-out infinite alternate;
  background: var(--color-white);
  border-radius: 4px;
  display: block;
  height: 3rem;
  width: 0.5rem;
}
.loader span:nth-child(1) {
  animation-delay: -500ms;
}
.loader span:nth-child(2) {
  animation-delay: -400ms;
}
.loader span:nth-child(3) {
  animation-delay: -300ms;
}

.loader span + span {
  margin-left: 0.5rem;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background: var(--color-black10);
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem;
  width: 100%;
}
header input:focus {
  color: var(--color-white);
}
header input {
  color: var(--color-black08);
  width: 300px;
}
header > div + div {
  margin-left: 1rem;
}
section {
  box-sizing: border-box;
  display: block;
  flex: 1;
  padding: 0.75rem;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}
footer {
  background: var(--color-black10);
  color: var(--color-white);
  display: flex;
  padding: 0.75rem;
  width: 100%;
}
form:last-child {
  flex: 1;
}
form + form {
  margin-left: 1rem;
}
form {
  display: flex;
  height: 100%;
}
body:not(.has-file) form > div:not(#file-div) {
  opacity: 0.1;
  pointer-events: none;
}
form > div {
  background: var(--color-black09);
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
form > div.unpadded {
  background: transparent;
  padding: 0;
}
form > div.size-1 {
  flex: 1;
}
form > div.size-2 {
  flex: 2;
}
form > div.size-3 {
  flex: 3;
}
form > div > div {
  flex: 1;
}
form > div > label {
  width: 100%;
}
form > div + div {
  margin-left: 1rem;
}
form > div div + div {
  margin-left: 0.5rem;
}
form > div div label {
  font-size: 0.7rem;
  margin-bottom: 0 !important;
  margin-top: 0.25rem;
}
form div > * {
  display: block;
}
#file-div {
  cursor: pointer;
  flex: none;
  position: relative;
}
#file-div label {
  position: relative;
  z-index: 9;
}
select,
input,
#file-div label,
[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-black10);
  border: none;
  border-radius: 0px;
  color: var(--color-white);
  padding: 0.5rem;
  width: 100%;
}
label {
  margin-bottom: 0.5rem;
}
#file-div label,
[type='submit'] {
  background-color: var(--color-white);
  border-radius: 3px;
  color: var(--color-black10);
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
}
input {
  text-align: left;
}
#file-div label {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
#file-div input:invalid + label img,
#file-div input:valid + label span {
  display: none;
}
#file-div input:valid + label {
  padding: 0;
}
#file-div input {
  opacity: 0;
  position: absolute;
}
img#result {
  height: auto;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
img#preview {
  background: #444;
  display: block;
  height: var(--nav-height);
  width: auto;
}
a#result-url {
  background-color: var(--color-white);
  border-radius: 3px;
  color: var(--color-black10);
  display: none;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}
a#result-url[download] {
  display: inline-block;
}
