:root {
  --color-black10: #000;
  --color-black09: #222;
  --color-black08: #333;
  --color-black07: #444;
  --color-white: #fff;
}
html,
body {
  height: 100%;
}
body {
  background: var(--color-black10);
  margin: 0;
  transition: opacity 250ms ease-in-out;
}
body.loading {
  cursor: no-drop;
  opacity: 0.5;
  pointer-events: none;
}
body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section {
  box-sizing: border-box;
  display: block;
  flex: 1;
  height: calc(100% - var(--nav-height));
  padding: 0.75rem;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}
aside {
  background: var(--color-black10);
  color: var(--color-white);
  padding: 0.75rem;
  width: 100%;
}
form {
  display: flex;
  flex: 1;
  height: 100%;
}
body:not(.has-file) form > div:not(#file-div) {
  opacity: 0.1;
  pointer-events: none;
}
form > div {
  background: var(--color-black09);
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
form > div.unpadded {
  background: transparent;
  padding: 0;
}
form > div.size-1 {
  flex: 1;
}
form > div.size-2 {
  flex: 2;
}
form > div.size-3 {
  flex: 3;
}
form > div > div {
  flex: 1;
}
form > div > label {
  width: 100%;
}
form > div + div {
  margin-left: 1rem;
}
form > div div + div {
  margin-left: 0.5rem;
}
form > div div label {
  font-size: 0.7rem;
  margin-bottom: 0 !important;
  margin-top: 0.25rem;
}
form div > * {
  display: block;
}
#file-div {
  cursor: pointer;
  flex: none;
  position: relative;
}
#file-div label {
  position: relative;
  z-index: 9;
}
select,
input,
#file-div label,
[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-black10);
  border: none;
  border-radius: 0px;
  color: var(--color-white);
  padding: 0.5rem;
  width: 100%;
}
label {
  margin-bottom: 0.5rem;
}
#file-div label,
[type='submit'] {
  background-color: var(--color-white);
  border-radius: 3px;
  color: var(--color-black10);
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
}
input {
  text-align: left;
}
#file-div label {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
#file-div input:invalid + label img,
#file-div input:valid + label span {
  display: none;
}
#file-div input:valid + label {
  padding: 0;
}
#file-div input {
  opacity: 0;
  position: absolute;
}
a#result-url {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
a#result-url:hover::after {
  background-color: var(--color-black10);
  color: var(--color-white);
  content: 'Click to download';
  padding: 0.5rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
}
img#result {
  height: auto;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
img#preview {
  background: #444;
  display: block;
  height: 90px;
  width: auto;
}
